{% extends 'admaster.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Dashboard overview</h2>

            <div class="container my-5">

  
                <!-- Section: Block Content -->
                <section>
                  
                  <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Admin</h6>
                  <h3 class="font-weight-bold text-center dark-grey-text pb-2">Statistic View</h3>
                  <hr class="w-header my-4">              
                  <div class="row white-text">
              
                    <!-- Grid column -->
                    <div class="col-xl-3 col-md-6 mb-4">
              
                      <!-- Card Primary -->
                      <div class="card classic-admin-card primary-color">
                        <div class="card-body py-3">
                          <i class="far fa-money-bill-alt"></i>
                          <p class="small">payment</p>
                          <h4>45000</h4>
                        </div>
                        <div class="progress md-progress">
                          <div class="progress-bar grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="card-body pt-2 pb-3">
                          <p class="small mb-0">Better than last week (25%)</p>
                        </div>
                      </div>
                      <!-- Card Primary -->
              
                    </div>
                    <!-- Grid column -->
              
                    <!-- Grid column -->
                    <div class="col-xl-3 col-md-6 mb-4">
              
                      <!-- Card Yellow -->
                      <div class="card classic-admin-card warning-color">
                        <div class="card-body py-3">
                          <i class="fas fa-chart-line"></i>
                          <p class="small">Total Appoinment</p>
                          <h4>{{appoinment}}</h4>
                        </div>
                        <div class="progress md-progress">
                          <div class="progress-bar bg grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="card-body pt-2 pb-3">
                          <p class="small mb-0">Worse than last week (25%)</p>
                        </div>
                      </div>
                      <!-- Card Yellow -->
              
                    </div>
                    <!-- Grid column -->
              
                    <!-- Grid column -->
                    <div class="col-xl-3 col-md-6 mb-4">
              
                      <!-- Card Blue -->
                      <div class="card classic-admin-card light-blue lighten-1">
                        <div class="card-body py-3">
                          <i class="fas fa-chart-pie"></i>
                          <p class="small">Vet patients</p>
                          <h4>{{pet_patient}}</h4>
                        </div>
                        <div class="progress md-progress">
                          <div class="progress-bar grey darken-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="card-body pt-2 pb-3">
                          <p class="small mb-0">Better than last week (75%)</p>
                        </div>
                      </div>
                      <!-- Card Blue -->
              
                    </div>
                    <!-- Grid column -->
              
                    <!-- Grid column -->
                    <div class="col-xl-3 col-md-6 mb-4">
              
                      <!-- Card Red -->
                      <div class="card classic-admin-card red accent-2">
                        <div class="card-body py-3">
                          <i class="fas fa-chart-bar"></i>
                          <p class="small">Total Service Booking</p>
                          <h4>{{countservice}}</h4>
                        </div>
                        <div class="progress md-progress">
                          <div class="progress-bar grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="card-body pt-2 pb-3">
                          <p class="small mb-0">Better than last week (25%)</p>
                        </div>
                      </div>
                      <!-- Card Red -->
              
                    </div>
                    <!-- Grid column -->
              
                  </div>
              
                </section>
                <!-- Section: Block Content -->
                
              
              </div>
        </div>
    </div>

    <div class="row">
      <h3>
        Today Appoinment.

      </h3>
      <div class="col-lg-12 table-responsive">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Pet</th>
              <th scope="col">pet Name</th>
              <th scope="col">pet Disease</th>
              <th scope="col">Date</th>
              <th scope="col">Doctor</th>
              <th scope="col">Time</th>
              <th scope="col">Token Number</th>
            

            </tr>
          </thead>
          <tbody>
            {% for i in today_app %}

            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.pet}}</td>
                <td>{{i.petbreed}}</td>
                <td>{{i.petdisease}}</td>
                <td>{{i.date}}</td>
                <td>{{i.doctor.firstname}}</td>
               <td>1:00</td>
               <td>1</td>

            
            </tr>

            {% endfor %}
        </tbody>
        </table>

      </div>

    </div>
    <br><br><br>

    <!-- service bookin -->
    <div class="row">
      <h3>
        Today Service Booking
      </h3>
      <div class="col-lg-12 table-responsive">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Pet</th>
              <th scope="col">pet Name</th>
              <th scope="col">Date</th>
              <th scope="col">Service</th>
              <th scope="col">Ambulance Service</th>
            </tr>
          </thead>
          <tbody>
            {% for i in Bookservice %}

            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phonenumber}}</td>
                <td>{{i.pet}}</td>
                <td>{{i.petbreed}}</td>
                <td>{{i.date}}</td>
                <td>{{i.services.ServiceName}}</td>
                <td>{{i.ambulanceService}}</td>

                

            
            </tr>
            {% endfor %}
        </tbody>
        </table>

      </div>

    </div>



    <!--end service booking -->






</div>


{% endblock %}