{% extends 'admaster.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Dashboard overview</h2>

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                        style="background-image: url('unsplash-photo-1.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-lighter">Total Appoinments</h2>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <img src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-appointment-telemedicine-justicon-lineal-color-justicon.png" width="32" height="32"
                                    class="rounded-circle border border-white"/>
                                </li>
                                <li class="d-flex align-items-center">
                                   
                                    <h3>34</h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                        style="background-image: url('unsplash-photo-1.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-lighter">Vet patients</h2>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <img src="https://img.icons8.com/color/64/000000/veterinarian.png" width="32" height="32"
                                    class="rounded-circle border border-white"/>
                                </li>
                                <li class="d-flex align-items-center">
                                   
                                    <h3>65</h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                        style="background-image: url('unsplash-photo-1.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-lighter">Total payment</h2>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <img src="https://img.icons8.com/fluency/48/000000/total-sales-1.png" width="32" height="32"
                                    class="rounded-circle border border-white"/>
                                </li>
                                <li class="d-flex align-items-center">
                                   
                                    <h3>450000</h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                        style="background-image: url('unsplash-photo-1.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-lighter"></h2>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <img src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-appointment-telemedicine-justicon-lineal-color-justicon.png" width="32" height="32"
                                    class="rounded-circle border border-white"/>
                                </li>
                                <li class="d-flex align-items-center">
                                   
                                    <h3>34</h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    
                </div>


                
            </div>
        </div>
    </div>
</div>


{% endblock %}