{% extends 'admaster.html' %}
{% block content %}
{% load static %}

<!-- doctors  -->

<div class="container">
    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h1><i class="fas fa-user-md "></i> Doctors</h1>
        </div>


        <hr>
    </div>
</div>


<div class="container">
    <div class="modal-content rounded-5 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
            <h2><i class="fas fa-add "></i>Add Doctors</h2>

        </div>
        <hr>

        <div class="modal-body p-5 pt-0">
            <form class="row g-3" method="POST" action="doctor" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12">
                    <label for="text">Uplod Photo</label>
                    <input type="file" class="form-control" id="img" name="image" onchange="readURL(this);" required>
                    <img src="" alt="Selected Photo" id="yimg" style="max-width: 180px;">
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" id="firstnames" placeholder="First name" name="firstname"
                        required>
                </div>
                <div class="col-lg-12">
                    <input type="text" class="form-control" id="lastnames" placeholder="Last name" name="lastname"
                        required>

                </div>
                <div class="col-md-6">
                    <input type="tel" class="form-control" name="phone" id="phonenumber" placeholder="Phone Number"
                        required>
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" id="email" placeholder="em@il" name="email" required>

                </div>
                <div class="col-md-6">
                    <label for="inputdepartment" class="form-label">Age</label>
                    <input type="text" class="form-control" name="age" id="age" placeholder="age" required>
                </div>
                <div class="col-md-6">
                    <label for="inputdepartment" class="form-label">Experience year</label>
                    <input type="text" class="form-control" name="experience" id="experience" placeholder="2-3 year"
                        required>
                </div>
                <div class="col-md-12">
                    <label for="inputState" class="form-label">Department</label>
                    <select id="inputState" class="form-select" name="department" required>
                        {% for i in doc %}
                        <option value="{{i.id}}">{{i.nameofdepartment}}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputpet" class="form-label">start date</label>
                    <input type="date" class="form-control" placeholder="Appoinmentdate" name="date" required>
                </div>
                <div class="col-6">
                    <label for="inputpet" class="form-label">salary</label>
                    <input type="text" class="form-control" name="salary" required>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark rounded-pill " id="submitbtn">Add</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <h1><i class="fas fa-user-md "></i> Doctors Table</h1>
    </div>
    <hr>


    <div class="row table-responsive my-5">
        <table id="dt-filter-select" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Id
                    </th>
                    <th class="th-sm">Image
                    </th>
                    <th class="th-sm">Firstname
                    </th>
                    <th class="th-sm">Lastname
                    </th>
                    <th class="th-sm">Department
                    </th>
                    <th class="th-sm">phonenumber
                    </th>
                    <th class="th-sm">email
                    </th>
                    <th class="th-sm">Age
                    </th>
                    <th class="th-sm">Experience
                    </th>
                    <th class="th-sm">Start date
                    </th>
                    <th class="th-sm">Salary
                    </th>
                    <th class="th-sm">Edit
                    </th>
                    <th class="th-sm">Remove
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for i in doctor %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.image}}</td>
                    <td>{{i.firstname}}</td>
                    <td>{{i.lastname}}</td>
                    <td>{{i.department.nameofdepartment}}</td>
                    <td>{{i.phonenumber}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.experience}}</td>
                    <td>{{i.startdate}}</td>
                    <td>{{i.salary}}</td>
                        <td>
                            <a href="{% url 'updateDoctor' doctor_id=i.id %}" class="btn btn-primary "> <i
                                    class="fas fa-user-edit"></i></a>
                        </td>
                        <td>
                            <a href="{% url 'deleDoct' doc=i.id %}" class="btn btn-danger"><i
                                    class="fas fa-trash-alt"></i></a>
                        </td>
                </tr>
                {% endfor %}

        </table>
    </div>
    <br>

   





    <script>
        msgg = ('{{mssgg}}')
        if (msgg == '') {
            console.log('heeyyyyyyyy')
        } else {
            alert(msgg)
        }
    </script>

    <!-- input  image  -->
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#yimg')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>










    {% endblock %}