{% extends 'staffmaster.html' %}
{% block content %}
{% load static %}


<div class="container">
    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h1><i class="fas fa-user-nurse mx-auto mb-1"></i>Nurses</h1>
        </div>
        <div class="nav col-lg-6 col-md-6 col-sm-6  d-flex justify-content-end p-lg-3 ">
            <button type="button" class="btn btn-dark rounded-pill " data-bs-toggle="modal" data-bs-target="#addnurses">
                Add Nurses
            </button>
        </div>

        <hr>
    </div>
</div>
<div class="modal fade" id="addnurses" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h2>Add Nurse</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form class="row g-3" action="{% url 'addnusreInStafs' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                        <input type="text" class="form-control" id="nsfirstname" placeholder="First name"
                            name="firstname" required>
                    </div>
                    <div class="col-lg-12">
                        <input type="text" class="form-control" id="nslastname" placeholder="Last name" name="lastname"
                            required>

                    </div>
                    <div class="col-md-6">
                        <input type="tel" class="form-control" name="phone" id="nsphonenumber"
                            placeholder="Phone Number" required>
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" id="nsemail" placeholder="em@il.com" name="email"
                            required>

                    </div>
                    <div class="col-md-12">
                        <label for="inputState" class="form-label">Department</label>
                        <select id="inputState" class="form-select" name="department" required>
                            {% for i in doc %}
                            <option value="{{i.id}}">{{i.nameofdepartment}}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="inputState" class="form-label">Select Staffcategory</label>
                        <select id="inputState" class="form-select" name="category" required>
                            {% for i in cate %}
                            <option value="{{i.id}}">{{i.categoryname}}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-3">
                        <label for="inputpet" class="form-label">Age</label>
                        <input type="text" class="form-control" id="nsage" name="age" required>
                    </div>
                    <div class="col-6">
                        <label for="inputpet" class="form-label">Experience</label>
                        <input type="text" class="form-control" id="nsexperience" name="experience" required>
                    </div>
                    <div class="col-6">
                        <label for="inputpet" class="form-label">start date</label>
                        <input type="date" class="form-control" placeholder="Appoinmentdate" name="date" id="nsdate"
                            required>
                    </div>
                    <div class="col-6">
                        <label for="inputpet" class="form-label">salary</label>
                        <input type="text" class="form-control" id="nssalary" name="salary" required>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-dark rounded-pill " id="submitbtn">Add</button>
                    </div>
                </form>
            </div>


        </div>
    </div>

</div>


<div class="container">
    <div class="row table-responsive">
        <table id="dt-filter-select" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Id
                    </th>
                    <th class="th-sm">Name
                    </th>
                    <th class="th-sm">Department
                    </th>
                    <th class="th-sm">phonenumber
                    </th>
                    <th class="th-sm">email
                    </th>
                    <th class="th-sm">Age
                    </th>
                    <th class="th-sm">Start date
                    </th>
                    <th class="th-sm">Salary
                    </th>
                    <th class="th-sm">Edit
                    </th>
                    <th class="th-sm">Remove
                    </th>

                </tr>
            </thead>
            <tbody>
                {% for i in nur %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.firstname}}</td>
                    <td>{{i.department.nameofdepartment}}</td>
                    <td>{{i.phonenumber}}</td>
                    <td>{{i.mail}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.startdate}}</td>
                    <td>{{i.salary}}</td>
                    <td>
                        <a href="{% url 'updatestaNurse' UpNurse=i.id %}" class="btn btn-primary "> <i
                                class="fas fa-user-edit"></i></a>
                    </td>
                    <td>
                        <a href="{% url 'deletestaNurse' denur_id=i.id %}" class="btn btn-danger "><i
                                class="fas fa-trash-alt"></i>
                        </a>


                    </td>
                </tr>
                {% endfor %}
                </tfoot>
        </table>



        <div class="col-lg-6 col-md-6 col-sm-6">
            <h1><i class="fas fa-user mx-auto mb-1"></i> Staff</h1>
        </div>
        <hr>


        <table id="dt-filter-select" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Id
                    </th>
                    <th class="th-sm">Name
                    </th>
                    <th class="th-sm">Staff category
                    </th>
                    <th class="th-sm">Department
                    </th>
                    <th class="th-sm">phonenumber
                    </th>
                    <th class="th-sm">email
                    </th>
                    <th class="th-sm">Age
                    </th>
                    <th class="th-sm">Start date
                    </th>
                    <th class="th-sm">Salary
                    </th>
                    <th class="th-sm">Edit
                    </th>
                    <th class="th-sm">Remove
                    </th>

                </tr>
            </thead>
            <tbody>
                {% for i in staffview %}
                <tr>

                    <td>{{forloop.counter}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.staffcategory.categoryname}}</td>
                    <td>{{i.department.nameofdepartment}}</td>
                    <td>{{i.phonenumber}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.startedDate}}</td>
                    <td>{{i.salary}}</td>
                    <td>
                        <a href="{% url 'UpdateStaffId' UpdSta_id=i.id %}" class="btn btn-primary ">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'removeStaff' RemoSta=i.id %}" class="btn btn-danger "><i
                                class="fas fa-trash-alt"></i></a>
                    </td>

                </tr>

                {% endfor %}
            </tbody>
        </table>

    </div>
    <script>
        msgg = ('{{mgs1}}')
        if (msgg == '') {
            console.log('heeyyyyyyyy')
        } else {
            alert(msgg)
        }
    </script>




</div>


{% endblock %}