{% extends 'staffmaster.html' %}
{% block content %}
{% load static %}


<div class="container">
    <div class="row">
        <div class="head">
            <h1>
                <i class="fas fa-money-check-alt mx-auto mt-4 mb-3"></i> payment Details
            </h1>
        </div>
        <hr>
        <div class="col-lg-12 table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Doctor</th>
                        <th scope="col">Date</th>
                        <th scope="col">Payment Method</th>                        
                        <th scope="col">Amount</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>ijas</td>
                        <td>Dr.Dayana</td>
                        <td>15-12-2021</td>
                        <td>Cash</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Niyas</td>
                        <td>Dr.Bond</td>
                        <td>5-1-2021</td>
                        <td>Bank Transfer</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Shabee</td>
                        <td>Dr.Dayana</td>
                        <td>3-2-2021</td>
                        <td>Cash</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Samual</td>
                        <td>Dr.Dayana</td>
                        <td>8-9-2021</td>
                        <td>Bank Transfer</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Merry</td>
                        <td>Dr.Ruby Rose</td>
                        <td>12-7-2021</td>
                        <td>Cash</td>
                        <td>800</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Sara's</td>
                        <td>Dr.Dayana</td>
                        <td>10-4-2021</td>
                        <td>Cash</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Babu</td>
                        <td>Dr.Bond</td>
                        <td>25-9-2021</td>
                        <td>Cash</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Nayanthara</td>
                        <td>Dr.Dayana</td>
                        <td>31-10-2021</td>
                        <td>Bank Transfer</td>
                        <td>1800</td>
                    </tr>
                   
                    
                    
                </tbody>
            </table>
</div>




    </div>
</div>




{% endblock %}