{% extends 'staffmaster.html' %}
{% block content %}
{% load static %}



<!-- canceld appoinment list -->

<div class="container">
    <div class="row">
        <div class="head mt-3">
            <h1>
                <i class="far fa-window-close"></i>
                View all canceled Appoinments
            </h1>
            <hr>
        </div>

        <div class="col-lg-12 table-responsive">

            <table id="myTable" class="table-active" width="100%">
                <thead>
                    <tr>
                        <th scope="th-sm">Id</th>
                        <th scope="th-sm">Name</th>
                        <th scope="th-sm">Email</th>
                        <th scope="th-sm">Pet</th>
                        <th scope="th-sm">pet Breed</th>
                        <th scope="th-sm">pet Diseases</th>
                        <th scope="th-sm">Date</th>
                        <th scope="th-sm">Doctor</th>

                    </tr>
                </thead>
                <tbody>
                    {% for i in appoinment %}

                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{i.name}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.pet}}</td>
                        <td>{{i.petbreed}}</td>
                        <td>{{i.petdisease}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.doctor.firstname}}</td>
                    </tr>

                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>







<!-- end  cancelde appoinments -->





{% endblock %}