{% extends 'master.html' %}
{% block content %}
{% load static %}


<section class="home" id="home">
    <div class="row">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item active" data-bs-interval="6000">
                    <img src="{% static 'images/6677.11.jpg' %}" class="d-block w-100" alt="..." id="img1">
                    <div class="carousel-caption">
                        <h2 class="display-1 " id="h21">
                            <span>"</span> PETOS <span>"</span><span class="display-4 ">care</span>
                        </h2>
                        <div>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto laboriosam pariatur
                                natus
                                illum eum possimus accusantium voluptates dignissimos alias beatae.</p>
                        </div>
                        <div class="slider-btn">
                            <!-- <button type="button" >Appoinment</button> -->
                            <button type="button" class="btn btn-warning rounded-pill me-1 w-25" data-bs-toggle="modal"
                                data-bs-target="#appoinmentmodal">
                                Appoinment
                            </button>


                            <a class="btn btn-warning rounded-pill me-1" href="tel:9746351731"><i
                                    class="fas fa-phone"></i>
                                Get call</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="{% static 'images/8527.11.jpg' %}" class="d-block w-100" alt="..." id="img1">
                    <div class="carousel-caption">
                        <h2 id="h2f">WE <span id="h2span">CARE YOUR PETS</span></h2>
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In corrupti nulla, vero qui
                                labore dolorum ipsam itaque est voluptates.</p>
                        </div>
                        <div class="slider-btn">


                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="{% static 'images/11027.jpg' %}" class="d-block w-100" alt="..." id="img1">
                    <div class="carousel-caption">
                        <h2 class="display-2 ">Trainning <span id="spa">...</span></h2>
                        <div>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates voluptatum
                                placeat
                                ab aliquid unde modi expedita aut! Quisquam, eveniet odio.</p>
                        </div>
                        <div class="slider-btn">

                            <a class="btn btn-warning rounded-pill me-1" href="tel:9746351731"><i
                                    class="fas fa-phone"></i>
                                Get call</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</section>

<section class="services" id="services">
    <div class="container">
        <div class="row min-vh-100 align-items-center">
            <div class="col-md-6 content">
                <div class="box">
                    <h3 id="abh3" class="text-warning"><i class="fas fa-hand-holding-medical"></i> 24x7 Alvailable
                    </h3>
                    <p id="ps">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vitae dolore
                        perferendis
                        deleniti
                        officiis consectetur iure aliquam architecto non quaerat, nemo id expedita quae.</p>
                </div>
                <div class="box">
                    <h3 id="abh3" class="text-warning"><i class="fas fa-user-md"></i> All Pet Doctor</h3>
                    <p id="ps">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vitae dolore
                        perferendis
                        deleniti
                        officiis consectetur iure aliquam architecto non quaerat, nemo id expedita quae.</p>
                </div>
                <div class="box">
                    <h3 id="abh3" class="text-warning"><i class="fas fa-user-nurse"></i> Expirienced Nurses</h3>
                    <p id="ps">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vitae dolore
                        perferendis
                        deleniti
                        officiis consectetur.</p>
                </div>
                <div class="box">
                    <h3 id="abh3" class="text-warning"><i class="fas fa-ambulance"></i> Emergency Ambulance</h3>
                    <p id="ps">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vitae dolore
                        perferendis
                        deleniti officiis consectetur iure aliquam architecto non quaerat, nemo id expedita quae.
                    </p>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block ">
                <img src="{% static 'images/nurse.01.png' %}" alt="" width="390px" style="margin-left: 90px;">
            </div>

        </div>
    </div>


</section>

<section class="about us" id="aboutus">
    <div class="container">
        <div class="row">
            <center>
                <h1 class="h1 text-warning">About <span class="text-black">Us</span></h1>
            </center>
            <div class="col-md-6">
                <div class="image">
                    <img src="{% static 'images/5559055.jpg' %}" alt="" width="100%">
                </div>

            </div>
            <div class="col-md-6 content" id="conteab">
                <div>
                    <h2 class="h22">We are<span id="span2"> PETOS</span></h2>
                </div>
                <div>
                    <p id="pab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo nulla excepturi
                        beatae similique quaerat. Doloremque saepe quasi sint quas ipsam velit culpa nobis impedit.
                        Aut! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, laudantium.</p>
                </div>
                <center>
                    <div class="d-inline-flex pr-5 mr-5 tex" id="social">
                        <div id="icon"><a href=""><i class="fas fa-phone-volume"></i></a>
                            <h5>Call to us</h5>
                            <p id="p22"><a href="">+999908765</a></p>
                            <p id="p22"><a href="">+999908765</a></p>
                        </div>
                        <div id="icon"><a href="#map"><i class="fas fa-map-marker-alt"></i></a>
                            <h5>Our location</h5>
                            <p id="p22">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.</p>
                        </div>
                        <div id="icon"><a href=""><i class="fas fa-envelope"></i></a>
                            <h5>Mail</h5>
                            <p id="p22"><a href="">fayizcv1@gmail.com</a></p>
                        </div>
                        <div id="icon"><a href="#"><i class="fas fa-users"></i></i></a>
                            <h5>To join</h5>
                            <p id="p22">Pet Community Center is dedicated to strengthening the human-animal bond
                                through accessible veterinary care and support services.</p>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>


</section>





<section class="doctor">


    <div class="row col-12" id="doc">
        <div class="heado">
            <h1 class="h1 text-warning">OUR spacial<span class="text-white"> DOCTORS</span></h1>

        </div>


        <div class="card">
            <div class="image" id="img3">
                <img src="{% static 'images/09.jpg' %}" alt="">
            </div>
            <div class="info">
                <h3 id="h3">DR.jhon</h3>
                <h4>Doctor of Veterinary Medicine</h4>
                <span id="span4">Dr. Gill graduated ECFVG at Oklahoma State University College of Veterinary
                    medicine Sciences.</span> <br> <br>
                <button class="btn btn-success rounded-pill  mb-4">payment</button>
                <div class="icons">
                    <a href=""><i class="fab fa-facebook" style="font-size: 40px;"></i></a>
                    <a href=""><i class="fab fa-instagram" style="font-size: 40px;"></i></a>
                    <a href=""><i class="fab fa-twitter" style="font-size: 40px;"></i></a>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="image" id="img3">
                <img src="{% static 'images/05.jpg' %} " alt="">
            </div>
            <div class="info">
                <h3 id="h3">DR.jhon</h3>
                <h4>Doctor of Veterinary Medicine</h4>
                <span id="span4">Dr. Stevens started working at the clinic in the summer of 2005. It was always her
                    dream job as a kid.

                </span> <br> <br>
                <button class="btn btn-success rounded-pill mb-4">payment</button>

                <div class="icons">
                    <a href=""><i class="fab fa-facebook" style="font-size: 40px;"></i></a>
                    <a href=""><i class="fab fa-instagram" style="font-size: 40px;"></i></a>
                    <a href=""><i class="fab fa-twitter" style="font-size: 40px;"></i></a>


                </div>
            </div>
        </div>
        <div class="card">
            <div class="image" id="img3">
                <img src="{% static 'images/06.jpg' %}" alt="">
            </div>
            <div class="info">
                <h3 id="h3">DR.jhon</h3>
                <h4>Doctor of Veterinary Medicine</h4>
                <span id="span4">Dr. Gill graduated ECFVG at Oklahoma State University College of Veterinary
                    medicine Sciences.</span> <br> <br>
                <button class="btn btn-success rounded-pill  mb-4">payment</button>

                <div class="icons">
                    <a href=""><i class="fab fa-facebook" style="font-size: 40px;"></i></a>
                    <a href=""><i class="fab fa-instagram" style="font-size: 40px;"></i></a>
                    <a href=""><i class="fab fa-twitter" style="font-size: 40px;"></i></a>



                </div>
            </div>
        </div>




    </div>

</section>


<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-form col-lg-6">
                <h3 class="text-center text-warning"> Share Your Feedbacks</h3>
                <form action="">
                    <div>
                        <input type="text" class="form-control" placeholder="First-Name">
                        <input type="text" class="form-control" placeholder="Last-Name">
                    </div>
                    <div>
                        <input type="email" class="form-control" placeholder="E-mail">
                        <input type="text" class="form-control" placeholder="phone">
                    </div>
                    <textarea rows="5" placeholder="text here.." class="form-control"></textarea>
                    <button class="btm btn-warning rounded-pill w-25">Send</button>
                </form>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'images/faaaa.png' %} " alt="" width="100%">
            </div>
        </div>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18933.628147357824!2d75.82465717019349!3d11.24378825707653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65bbe50ea0b7d%3A0xc4e01eaa6234847e!2sHiLITE%20Business%20Park%2C%20Poovangal%2C%20Pantheeramkavu%2C%20Kerala%20673014!5e0!3m2!1sen!2sin!4v1636901768928!5m2!1sen!2sin"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" id="map"></iframe>
        </div>




    </div>

</section>


<!-- appoinment -->


<div class="modal fade" id="appoinmentmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <h2 class="fw-bold mb-0 text-center">Appoinment From</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <p class="text-center">"Urgent pet care is conveniently located to provide your pet!"</p>
            <div class="modal-body p-5 pt-0">
                <h4>client/pet owner information</h4>
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-6 position-relative">
                        <label for="validationTooltip01" class="form-label">First name</label>
                        <input type="text" class="form-control" id="validationTooltip01" value="" required>
                        <div class="invalid-tooltip">
                            Please provide a valid name.
                        </div>
                    </div>
                    <div class="col-md-6 position-relative">
                        <label for="validationTooltip02" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="validationTooltip02" value="" required>
                        <div class="invalid-tooltip">
                            Please provide a valid name.
                        </div>
                    </div>
                    <div class="col-md-6 position-relative">
                        <label for="validationTooltipUsername" class="form-label">phonenumber</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="validationTooltipUsername"
                                aria-describedby="validationTooltipUsernamePrepend" required>
                            <div class="invalid-tooltip">
                                Please choose a unique and valid phonenumber.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 position-relative">
                        <label for="validationTooltipUsername" class="form-label">Email</label>
                        <div class="input-group has-validation">
                            <input type="email" class="form-control" id="validationTooltipUsername"
                                aria-describedby="validationTooltipUsernamePrepend" required>
                            <div class="invalid-tooltip">
                                Please choose a unique and valid email.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 position-relative">
                        <label for="validationTooltip03" class="form-label">Address</label>
                        <input type="text" class="form-control" id="validationTooltip03" required>
                        <div class="invalid-tooltip">
                            Please provide a valid Address.
                        </div>
                    </div>
                    <div class="col-md-6 position-relative">
                        <label for="validationTooltip05" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="validationTooltip05" required>
                        <div class="invalid-tooltip">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-lg-6 position-relative">
                        <label for="validationTooltip03" class="form-label">Appoinment date</label>
                        <input type="date" class="form-control" id="validationTooltip03" required>
                        <div class="invalid-tooltip">
                            Please provide a valid Appoinment Date.
                        </div>
                    </div>
                    <div class="col-4 position-relative">
                        <label for="validationTooltip03" class="form-label">Time</label>
                        <input type="Time" class="form-control" id="validationTooltip03" required>
                        <div class="invalid-tooltip">
                            Please provide a valid Time.
                        </div>
                    </div>
                    <h4>Pet info</h4>
                    <label for="validationTooltip04" class="form-label">Select your pet</label>
                    <select class="form-select" id="validationTooltip04" required>
                        <option selected disabled value="">Dog</option>
                        <option>Cat</option>
                        <option>Bird</option>
                        <option>other</option>
                    </select>
                    <div class="invalid-tooltip">
                        Please select a valid state.
                    </div>
                    <div class="col-lg-6 position-relative">
                        <label for="validationTooltip03" class="form-label">Petname</label>
                        <input type="text" class="form-control" id="validationTooltip03" required>
                        <div class="invalid-tooltip">
                            Please provide a valid petname.
                        </div>
                    </div>
                    <div class="col-lg-6 position-relative">
                        <label for="validationTooltip03" class="form-label">pet breed</label>
                        <input type="text" class="form-control" id="validationTooltip03" required>
                        <div class="invalid-tooltip">
                            Please provide a valid petbreed.
                        </div>
                    </div>
                    <div class="col-lg-6 position-relative">
                        <label for="validationTooltip03" class="form-label">Appoinment date</label>
                        <input type="text" class="form-control" id="validationTooltip03" required>
                        <div class="invalid-tooltip">
                            Please provide a valid Appoinment Date.
                        </div>
                    </div>
                    <div class="col-lg-6 position-relative">
                        <label for="validationTooltip03" class="form-label">Pet colour</label>
                        <input type="text" class="form-control" id="validationTooltip03" required>
                        <div class="invalid-tooltip">
                            Please provide a valid Pet colour.
                        </div>
                    </div>
                    <div>
                        <h6>Pet Sex</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                male
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Neutered Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                                value="option3">
                            <label class="form-check-label" for="exampleRadios3">
                                female
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                                value="option3">
                            <label class="form-check-label" for="exampleRadios3">
                                Spayed Female
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6 position-relative">
                        <label for="validationTooltip03" class="form-label">Pet Age /DOB</label>
                        <input type="text" class="form-control" id="validationTooltip03" required>
                        <div class="invalid-tooltip">
                            Please provide a valid Pet age.
                        </div>
                    </div>
                    <div class="col-lg-6 position-relative">
                        <label for="validationTooltip03" class="form-label">Pet Weight (kgs or ibs)</label>
                        <input type="text" class="form-control" id="validationTooltip03" required>
                        <div class="invalid-tooltip">
                            Please provide a valid Pet Weight.
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}

<!-- <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-warning rounded-pill " id="submitbtn">SUBMIT</button>
                    </div> -->