<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>veterinary <span>project</span>1</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid officia deserunt tempora, fuga exercitationem recusandae molestiae placeat possimus omnis mollitia porro minima vel harum laborum eligendi a ab expedita eveniet!</p>
</body>
</html>