{% extends 'master.html' %}
{% block content %}
{% load static %}


<section class="home" id="home">
    <div class="row">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item active" data-bs-interval="6000">
                    <img src="{% static 'images/6677.11.jpg' %}" class="d-block w-100" alt="..." id="img1">
                    <div class="carousel-caption">
                        <h2 class="display-1 " id="h21">
                            <span>"</span> PETOS <span>"</span><span class="display-4 ">care</span>
                        </h2>
                        <div>
                            <p class="text-black fw-bold ">pet care is the care and medical treatment of pets which
                                means any job that has to do with taking care of pets would be considered a pet care
                                profession.</p>
                        </div>
                        <div class="slider-btn">
                            <!-- <button type="button" >Appoinment</button> -->
                            <button type="button" class="btn btn-warning fw-bold rounded-pill me-1 w-25"
                                data-bs-toggle="modal" data-bs-target="#appoinmentmodal">
                                Appoinment
                            </button>


                            <a class="btn btn-warning rounded-pill me-1" href="tel:9746351731"><i
                                    class="fas fa-phone"></i>
                                Get call</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="{% static 'images/8527.11.jpg' %}" class="d-block w-100" alt="..." id="img1">
                    <div class="carousel-caption">
                        <h2 id="h2f">WE <span id="h2span">CARE YOUR PETS</span></h2>
                        <div>
                            <p class="text-black fw-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In
                                corrupti nulla, vero qui
                                labore dolorum ipsam itaque est voluptates.</p>
                        </div>
                        <div class="slider-btn">
                            <button type="button" class="btn btn-primary rounded-pill me-1 w-25 fw-bold"
                            data-bs-toggle="modal" data-bs-target="#servicesappo" id="appo" style="color: #fff;">
                        Service Booking
                        </button>

                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="{% static 'images/11027.jpg' %}" class="d-block w-100" alt="..." id="img1">
                    <div class="carousel-caption">
                        <h2 class="display-2 ">Trainning <span id="spa">...</span></h2>
                        <div>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates voluptatum
                                placeat
                                ab aliquid unde modi expedita aut! Quisquam, eveniet odio.</p>
                        </div>
                        <div class="slider-btn">

                            <a class="btn btn-warning rounded-pill me-1" href="tel:9746351731"><i
                                    class="fas fa-phone"></i>
                                Get call</a>
                            <button type="button" class="btn btn-primary rounded-pill me-1 w-25 fw-bold"
                                data-bs-toggle="modal" data-bs-target="#servicesappo" id="appo" style="color: #fff;">
                            Service Booking
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</section>

<section class="services" id="services">
    <div class="container">
        <div class="row min-vh-100 align-items-center">
            <div class="col-md-6 content">
                <div class="box">
                    <h3 id="abh3" class="text-warning"><i class="fas fa-hand-holding-medical"></i> 24x7 Alvailable
                    </h3>
                    <p id="ps">Almost Overnight" Pet Sitting service provides your pets with an extended evening visit
                        in your home as well as...</p>
                </div>
                <div class="box">
                    <h3 id="abh3" class="text-warning"><i class="fas fa-user-md"></i> All Pet Veterinarians</h3>
                    <p id="ps">
                        Word of mouth is often the best way to find a vet. Ask your friends and family for
                        recommendations. Online reviews can be helpful, but suggestions from people you trust are even
                        better. Different pets and families have different needs, though, so consider meeting with a few
                        vets before making your choice.</p>
                </div>
                <div class="box">
                    <h3 id="abh3" class="text-warning"><i class="fas fa-user-nurse"></i> Expirienced Nurses</h3>
                    <p id="ps">Veterinary nursing is the supportive care of animals receiving treatment within a
                        veterinary practice. Veterinary nurses work alongside other veterinary nurses and veterinary
                        surgeons as part of the veterinary team, providing professional nursing care for sick and
                        injured animals</p>
                </div>
                <div class="box">
                    <h3 id="abh3" class="text-warning"><i class="fas fa-ambulance"></i> Emergency Ambulance</h3>
                    <p id="ps">Ambulance With full facility, Fixed maximum rate per trip upto 25
                        Km will be Rs. 1500, per Km rate after 25 Km will be Rs. 12 and waiting charge per hour after
                        half an hour will
                        be Rs. 150 per hour. only for Emergency situations
                    </p>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block ">
                <img src="{% static 'images/nurse.01.png' %}" alt="" width="390px" style="margin-left: 90px;">
            </div>

        </div>
    </div>


</section>

<section class="about us">
    <div class="container">
        <div class="row">
            <center>
                <h1 class="h1 text-warning">About <span class="text-black">Us</span></h1>
            </center>
            <div class="col-md-6">
                <div class="image">
                    <img src="{% static 'images/5559055.jpg' %}" alt="" width="100%">
                </div>
            </div>
            <div class="col-md-6 ">
                <h2 class="font-weight-bold mb-3">Features</h2>
                <p class="lead py-4 mt-6 my-2">
                    The LovePet is a family owned business. The Cleghorn and Hill families have been involved in the pet
                    care industry for a combination of 33 years, they are renowned for the expert care, and service that
                    they provide to their clients. This expertise has been combined with years of research and planning
                    to deliver Melbourne. pet owners with a facility that offers maximum comfort and maximum safety – in
                    all seasons. The facility has been custom designed to ensure the very best for pets and peace of
                    mind for pet owners. At The Pets Hotel V.I.P stands for Very Important Pets and Very Important
                    People.
                </p>
            </div>
            <div class="container py-2 my-2 z-depth-1">
                <section class="p-md-1 mx-md-1 text-lg-left">
                    <div class="row mt-5">
                        <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                            <div class=" mt-3 text-center">
                                <i class="fas fa-phone-volume fa-3x amber-text mb-4 "></i>
                                <h4 class="font-weight-bold">+91 9746351731</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                            <div class=" mt-3 text-center">
                                <i class="far fa-map fa-3x pink-text mb-4"></i>
                                <h4 class="font-weight-bold"><a href="/map"></a>location</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-md-0 mb-5">
                            <div class=" mt-3 text-center">
                                <i class="fas fa-envelope  fa-3x amber-text mb-4"></i>
                                <h4 class="font-weight-bold "><a href="http://www.gmail.com/fayizcv1@gmail.com "
                                        class="text-decoration-none text-black">fayizcv1@gmail.com</a></h4>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>


</section>

<section class="doctor">


    <div class="row col-12" id="doc">
        <div class="heado">
            <h1 class="h1 text-warning">OUR special<span class="text-white"> DOCTORS</span></h1>

        </div>

        {% for i in doctor %}
        <div class="card">
            <div class="image" id="img3">
                <img src="/app1/media/{{i.image}}" alt="">
            </div>
            <div class="info">
                <h3 id="h3">{{i.firstname}}</h3>
                <h4>{{i.department.nameofdepartment}}</h4>
                <h6>{{i.email}}</h6>
                <h6>Some Sepecial Times</h6>

            </div>
        </div>
        {% endfor %}

    </div>

</section>


<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-form col-lg-6">
                <h3 class="text-center text-warning"> Share Your Feedbacks</h3>
                <form action="feedback" method="POST" id="feedback">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First-Name" name="firstname">
                        <input type="text" class="form-control" placeholder="Last-Name" name="lastname">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="E-mail" name="email">
                        <input type="text" class="form-control" placeholder="Phone number" name="phonenumber">
                    </div>
                    <textarea rows="5" placeholder="text here.." class="form-control" name="message"></textarea>
                    <button class="btm btn-warning rounded-pill w-25" type="submit" value="submit">Send</button>
                </form>
            </div>
            <div class="col-lg-6 mt-3">
                <img src="{% static 'images/faaaa.png' %} " alt="" width="100%">
            </div>
        </div>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18933.628147357824!2d75.82465717019349!3d11.24378825707653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65bbe50ea0b7d%3A0xc4e01eaa6234847e!2sHiLITE%20Business%20Park%2C%20Poovangal%2C%20Pantheeramkavu%2C%20Kerala%20673014!5e0!3m2!1sen!2sin!4v1636901768928!5m2!1sen!2sin"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" id="map"></iframe>
        </div>



    </div>

</section>



{% endblock %}



