{% extends 'master.html' %}
{% block content %}
{% load static %}

<!-- start services -->

<section class="py-4 text-center container">
  <div class="row py-lg-4">
    <h1>our services.</h1>
    <p> "Petos care your pets" </p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <h2 class="py-3 text-center ">We Care About Our Pets Since Their Birth</h2>
    <p class="text-center">We provide high-quality Pet care services and advice for a well-trained Pets</p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'images/boarding01.jpg' %}" alt="">
          <div class="card-body">
            <h3 class="card-subtitle fw-bold">Pet Boarding</h3>
            <p class="card-text">While you're on holiday, here's where your furry friends will spend their time..</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-warning rounded-pill me-1" href="tel:9746351731"><i class="fas fa-phone"></i>
                  Get call</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'images/petcare02.jpg' %}" alt="">

          <div class="card-body">
            <h3 class="card-subtitle fw-bold">Dog Daycare</h3>
            <p class="card-text">Our certified staff has over a decade experience working in pet care.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-warning rounded-pill me-1" href="tel:9746351731"><i class="fas fa-phone"></i>
                  Get call</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'images/pettransfer01.jpg' %}" alt="">

          <div class="card-body">
            <h3 class="card-subtaitle fw-bold">Pet Transport</h3>
            <p class="card-text">We welcome pet of all shapes and sizes that meet safety requirements.</p>
            <div class="align-content-center">
              <div class="btn-group ">
                <a class="btn btn-warning rounded-pill me-1" href="tel:9746351731"><i class="fas fa-phone"></i>
                  Get call</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row featurette">
    <div class="col-lg-6">
      <img src="{% static 'images/nursepet01.jpg' %}" alt="" width="100%" style=" border-radius: 21px 21px 21px 21px;">
    </div>
    <div class="col-lg-6 pt-6 ">

      <div class="pt-5">

        <h3 class="fw-bold text-center pt-5 featurette-heading" style=" color: #17506c;">
          24 HOURS CARE
        </h3>
      </div>
      <p class="pt-4 mx-5 fw-light lead">Almost Overnight" Pet Sitting service provides your pets with an extended
        evening
        visit in your home as well as...</p>
      <div class="text-center pt-3">
        <ul class="list-unstyled d-inline-flex mt-auto ">
          <li class="me-4"><img src="https://img.icons8.com/color/48/000000/veterinary-examination.png" width="32"
              height="32" class="rounded-circle border border-dark" /></li>
          <li class="me-4"><img
              src="https://img.icons8.com/external-filled-outline-geotatah/64/000000/external-pet-pet-lover-society-filled-outline-filled-outline-geotatah-33.png"
              width="32" height="32" class="rounded-circle border border-dark" /></li>
          <li class="me-4"><img
              src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/000000/external-pet-shop-pet-care-icongeek26-linear-colour-icongeek26.png"
              width="32" height="32" class="rounded-circle border border-dark" /></li>


        </ul>

      </div>
      <div class="text-center">
        <button type="button" class="btn btn-warning rounded-pill me-1 w-25 fw-bold" data-bs-toggle="modal"
          data-bs-target="#appoinmentmodal">
          Appoinment
        </button>

      </div>


    </div>

  </div>

</div>

<div class="container">
  <div class="row featurette">
    <div class="col-md-7 pt-5">
      <h2 class="featurette-heading  fw-bolder pt-4 text-center">Cat Boarding Rooms
      </h2>
      <p class="lead">If you’re planning a vacation and would like a trusted professional to look after your pet, we
        provide a home away from home experience for a small number of pets.
      </p>
      <div class="text-center pt-3">
        <ul class="list-unstyled d-inline-flex mt-auto ">
          <li class="me-4"><img src="https://img.icons8.com/ios-filled/50/000000/pet-commands-train.png" width="32"
              height="32" class="rounded-circle border border-dark" /></li>
          <li class="me-4"><img src="https://img.icons8.com/dusk/50/000000/cat.png" width="32" height="32"
              class="rounded-circle border border-dark" /></li>
          <li class="me-4"><img
              src="https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-cat-dog-and-cat-justicon-flat-justicon-11.png"
              width="32" height="32" class="rounded-circle border border-dark" /></li>


        </ul>


      </div>
      <div class="text-center pb-1">
        <button type="button" class="btn btn-warning rounded-pill fw-bold me-1 w-25 " data-bs-toggle="modal"
          data-bs-target="#appoinmentmodal">
          Appoinment
        </button>

      </div>

    </div>
    <div class="col-md-5">
      <img src="{% static 'images/pcat01.jpg' %}" width="100%" style=" border-radius: 21px 21px 21px 21px;" alt="">

    </div>

  </div>

</div>



<div class="container my-5 p-5 z-depth-1">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-4 pb-2">Why is it so great?</h2>
    <!-- Section description -->
    <p class="text-center lead grey-text mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4">

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-2">
            <i class="fas fa-2x fa-syringe deep-purple-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Sugery</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
              nam, aperiam minima assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-2">
            <i class="fas fa-2x fa-hand-holding-medical deep-purple-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Daycare</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
              nam, aperiam minima assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-md-0 mb-3">

          <!-- Grid column -->
          <div class="col-2">
            <i class="fas fa-2x fa-dog deep-purple-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Pet sitting</h5>
            <p class="grey-text mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
              maiores nam, aperiam minima assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 text-center">
        <img class="img-fluid" src="{% static 'images/dogg1.jpg' %}"
          alt="Sample image">
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-2">
            <i class="far fa-2x fa-heart deep-purple-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Beloved</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
              nam, aperiam minima assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-2">
            <i class="fas fa-2x fa-bolt deep-purple-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Rapid</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
              nam, aperiam minima assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-2">
            <i class="fas fa-2x fa-magic deep-purple-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Magical</h5>
            <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
              maiores nam, aperiam minima assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>









<!-- end services -->







{% endblock %}